:root {
    /* global */
    --transitionTime: 0.3s;
    --colorWhite: rgb(255, 255, 255);
    --colorBlack: rgb(0, 0, 0);
    --colorHighlightBg: #FF69B4;
    --colorHighlightBgFaded: rgba(255, 29, 142, 0.555);
    /* light */
    --colorBg: #f9f9f9;
    --colorFg: #4c4f59;
    --colorFgFaded: #4c4f59;
    --colorFgFadedMore: #a0a3ab;
    /* dark */
    --colorBgDark: #333335;
    --colorFgDark: #d1d1d1;
    --colorFgDarkFaded: #e3e3e363;
    --colorFgDarkFadedMore: #9d9d9d66;
}
span#highlight {color: var(--colorHighlightBg);}
* {
    margin: 0;
    padding: 0;
}
a,.container,.card-overlay,.palettePopup,label {
    transition-duration: var(--transitionTime);
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20pt;
    color: var(--colorFg);
    background: var(--colorWhite);
}
a {
    text-decoration: none;
    color: var(--colorHighlightBg);
}
a:hover {color: var(--colorHighlightBgFaded);}
ul {list-style-type: none;}
/* p {margin-left: 6%;} */
.container {
    color: var(--colorFg);
    background: var(--colorBg);
}
.container {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    /* background: url('tiamarth-shadow.svg') no-repeat scroll;
    background-position: calc(100% * 2 / 4) calc(100% * 2 / 2.2);
    background-size: 40em; */
}
.header {
    padding: 1em 1em 1em 8em;
    background-color: var(--colorWhite);
}
img.banner {height: 3em;}
.container h1 {
    padding-top: 3%;
    padding-left: 10%;
}
/* #socials {} */
/* .socialscard {
    position: relative;
    top: 3em;
    width: 350px;
    float: left;
    margin: auto auto 3em 22%;
    padding: 2em;
    background-color: var(--colorBg);
} */
/* .socialscard h2 {
    font-size: 25pt;
    padding-bottom: 1em;
} */
/* .container#socials a {} */
/* .bottom {
    text-align: center;
    * width: 100vh; *
    margin-top: 1%;
}
.bottom li {display: inline;}
.bottom,.bottom a {color: var(--colorFgFadedMore);}
.bottom a:hover {color: var(--colorFgFaded);} */
/* theme switcher */
/* this is the button you click to toggle dark mode */
label {
    height: 0;
    position: absolute;
    top: 1.5em;
    right: 2em;
    width: 2em !important;
    height: 2em !important;
    background: url('light-bulb.svg');
}
label:hover {
    color: var(--colorFgFadedMore);
    cursor: pointer;
}
input#themer {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
/* <div>Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
/* dark theme */
/* these are the styles for dark mode */
input#themer:checked + label {filter: invert();}
input#themer:checked + label:hover {color: var(--colorFgDarkFadedMore);}
input#themer:checked ~ .container {
    color: var(--colorFgDark);
    background: var(--colorBlack);
}
input#themer:checked ~ .container .header {
    background: var(--colorBgDark);
}