:root {
    /* global */
    --transitionTime: 0.2s;
    --colorWhite: #fff;
    --colorBlack: #000;
    --colorNavy: #232939;
    --colorHighlightBg: #FF69B4;
    --colorHighlightBgFaded: #ff1d8e8e;
    --colorHighlightBgFadedMore: #ff4ba575;
    /* light */
    --colorBg: #f9f9f9;
    --colorFg: #6c7181;
    --colorFgFaded: #777c8b;
    --colorFgFadedMore: #aeb0b8;
    --colorFgFadedMost: #aeb0b894;
    /* dark */
    --colorBgDark: #333335;
    --colorFgDark: #d1d1d1;
    --colorFgDarkFaded: #e3e3e363;
    --colorFgDarkFadedMore: #9d9d9d66;
}
span#highlight {color: var(--colorHighlightBg);}
* {
    margin: 0;
    padding: 0;
}
a,li,.container,.card-overlay,.palettePopup,label {
    transition-duration: var(--transitionTime);
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
    color: var(--colorFg);
    background: var(--colorWhite);
}
a {
    text-decoration: none;
    color: var(--colorHighlightBg);
}
a:hover {color: var(--colorHighlightBgFaded);}
ul {list-style-type: none;}
p {margin: 1em auto;}
.container {
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    min-height: 100vh;
    color: var(--colorFg);
    background: var(--colorBg);
}
.header {
    height: 10em;
    margin: 0;
    padding: 1em;
    background: var(--colorNavy) url('header-bg.jpg') 100% -7em no-repeat;
    background-size: 50%;
/*     background-blend-mode: ; */
}
.header img.banner {height: 8em;}
.header img.avatar {
    position: absolute;
    top: 2em;
    right: calc(100vw - 57vw);
    height: 8em;
    border-radius: 100%;
}
.nav {
    text-align: center;
    background: var(--colorFgDarkFaded);
    line-height: 2em;
}
.nav ul li {
    margin-left: -8px;
    display: inline;
    padding: 0.4em;
}
.nav ul li a {padding: 0.4em 0;}
.nav ul li:hover > a {
    color: white;
    background: var(--colorHighlightBg);
    padding: 0.4em 2em;
}
.container h1 {
    padding-top: 3%;
    padding-left: 10%;
}
.deck {margin: 0 auto;}
.deck#contact {
    display: table;
}
.card {
    color: var(--colorFg);
    background-color: var(--colorWhite);
}
.card#project,.card#social {box-shadow: 0 0 2px var(--colorFgDark);}
.card#about {
    width: 50%;
    margin: 0 auto;
    padding: 3em;
}
.card#about p#credits {
    color: var(--colorFgFadedMost);
    font-style: italic;
    font-size: 13pt;
}
.card#about p#credits a {color: var(--colorHighlightBgFadedMore);}
.card#project,
.card#social {
    float: left;
    position: relative;
    display: table-cell;
    min-width: 9em;
    max-width: 13em;
    height: 10em;
    margin: 2em;
    padding: 2em;
    vertical-align: middle;
}
#end {clear: both;}
/* theme switcher */
label {
    height: 0;
    position: absolute;
    top: 1.5em;
    right: 2em;
    width: 2em;
    height: 2em;
    background: url('light-bulb.svg');
}
label:hover {
    color: var(--colorFgFadedMore);
    cursor: pointer;
}
input#themer {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
/* dark theme */
input#themer:checked + label {filter: invert();}
input#themer:checked + label:hover {color: var(--colorFgDarkFadedMore);}
input#themer:checked ~ .container {
    color: var(--colorFgDark);
    background: var(--colorBlack);
}
input#themer:checked ~ .container .card {
    color: var(--colorFgDark);
    background: var(--colorBgDark);
}
